[user]
  name  = hasen
  email = hasenfus7@gmail.com

[include]
# from 1.7.10 別ファイルからの読み込み
# path = .gitconfig.local

[core]
# repo/.gitignore 特定リポジトリで全メンバ共有
# repo/.git/info/excludee 特定リポジトリで自分だけ
# core.excludesfile 全リポジトリで自分だけ
# excludesfile = ~/.gitignore
  editor = vi
  pager  = less -r
  log    = diff-highlight | less
  show   = diff-highlight | less
  diff   = diff-highlight | less

[push]
# push only current branch
# default = tracking
	default = matching

[branch]
# autosetuprebase = always

[merge]
# from 1.7.6
# ff = false

[pull]
# from 1.7.9
# rebase = true

[color]        
  ui          = auto
  diff        = auto
  status      = auto
  branch      = auto
  interactive = auto
  grep        = auto

[alias]
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' 
  st  = status -sb
  ad  = add
  aa  = add -A
  ci  = commit
  cm  = commit -m
  cam = commit -am
  br  = branch -a
  lp  = log -p
  gr  = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  df  = diff
  gp  = grep -n 
  bl  = blame

# ref
# https://gist.github.com/teppeis/4117588
# git-browse-remote
# http://subtech.g.hatena.ne.jp/motemen/20120917/1347889804
